* {
    margin: 0;
  }
  
  h2 {
   font-size: 18px;
   color:#f7f7f7;
   font-weight: 300;
   margin-right: 5px;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo {
    font-size: 30px;
    color: #4dbf00;
    text-align: left;
  }
  
  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex; /* Lay out menu items horizontally */
    justify-content: flex-end /* Align items to the left and reduce space between them */
  }
  
  .menu-list-item {
    list-style-type: none; /* Removes bullet points */
    margin-right: 10px; /* Adjust this value to control the space between menu items */
  }
  
  .menu-list a {
    color: white; /* Change the text color to white */
    text-decoration: none; /* Removes underline */
    padding: 5px 10px; /* Reduce padding to bring texts closer */
  }
  
  .menu-list a:hover {
    color: #ddd; /* Optional: changes color when hovered */
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
  }
  
  .profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  
  .toggle-icon {
    color: goldenrod;
  }
  
  .toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
  }
  
  .sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  
  .left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
  }
  
  .content-container {
    margin-left: 30px;
  }
  
  .featured-content {
    height: 29vh;
    padding: 50px;
  }
  
  .featured-content3 {
    height: 50h;
    width: 90vw;
    margin-left: 32px; /* Add this to push the image to the left */
    margin-right: 0;  /* Remove or reduce margin on the right */
  }
  
  .featured-content3x {
    height: 75vh;
    width: 95vw;
    margin-left: 49px; /* Add this to push the image to the left */
    margin-right: 0;  /* Remove or reduce margin on the right */
  }
  
  .featured-content3xc {
    height: 90vh;
    width: 93vw;
    margin-left: -17px; /* Add this to push the image to the left */
    margin-right: 0;  /* Remove or reduce margin on the right */
  }
  
  .featured-content3xcc {
    height: 70vh;
    width: 93vw;
    margin-left: -17px; /* Add this to push the image to the left */
    margin-right: 0;  /* Remove or reduce margin on the right */
  }
  
  
  
  .featured-content3xx {
    height: 50vh;
    width: 100vw;
    margin-left: -17px; /* Add this to push the image to the left */
    margin-right: 0;  /* Remove or reduce margin on the right */
  }
  
  .featured-content2 {
    height: 75vh;
    padding: 70px;
  }
  
  
  .movie-list-item-C {
    margin-top: 0; /* Moves the container to the top */
  
  }
  
  .movie-list-item-CX {
    margin-top: 30px;
  
  }
  
  
  
  
  
  .featured-title {
    width: 300px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 13%;
    transform: translate(-50%, -50%);
  }
  
  .featured-desc {
    width: 400px;
    color: lightgray;
    margin-left: -80px; /* Left margin */
    margin-bottom: -120px; /* Bottom margin */
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    justify-content: flex-end; /* Aligns content to the bottom */
    align-items: flex-start; /* Aligns content to the left */
  
    height: 50vh; /* Ensure it takes up the full height of the viewport */
    text-align: left; /* Align the text to the left */
    font-family: 'Cinzel', serif; /* Apply the Cinzel font */
    font-size: 50px; /* Adjust the font size as needed */
    font-weight: 700; /* Use bold weight for emphasis */
    color: #cdc4c4; /* Set the font color to white */
    border-radius: 20px; /* Rounds the corners */
    padding: 120px; /* Add padding for spacing */
  }
  
  .featured-descx {
    width: 400px;
    color: lightgray;
    margin-left: 20px; /* Left margin */
    margin-bottom: -10px; /* Bottom margin */
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    justify-content: flex-end; /* Aligns content to the bottom */
    align-items: flex-start; /* Aligns content to the left */
  
    height: 50vh; /* Ensure it takes up the full height of the viewport */
    text-align: left; /* Align the text to the left */
    font-family: 'Cinzel', serif; /* Apply the Cinzel font */
    font-size: 50px; /* Adjust the font size as needed */
    font-weight: 700; /* Use bold weight for emphasis */
    color: #cdc4c4; /* Set the font color to white */
    border-radius: 20px; /* Rounds the corners */
    padding: 10px; /* Add padding for spacing */
  }
  
  
  .featured-button {
    background-color: #cee384;
    color: rgb(80, 9, 9);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
  }

  .featured-buttonx {
    background-color: #9ca400;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
  }
  
  .movie-list-container {
    padding: 0 0px;
    margin-left: 30px;
  }
  
  .movie-list-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .movie-list-title {
    color: rgb(225, 225, 225)
  }
  
  .movie-list {
    display: flex;
    align-items: center;
    height: 245px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }
  
  .movie-list-item {
    margin-right: 25px;
    position: relative;
  }
  
  .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
  }
  
  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button {
    opacity: 1;
  }
  
  .movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 280px;
    height: 198px;
    object-fit: cover;
    border-radius: 0px;
  }
  
  .movie-list-item-title {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    border-radius:7px;
    font-size: 32px;
    color:aliceblue;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-desc {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-button {
    padding: 10px;
    background-color: #4dbf00;
    color: rgb(252, 244, 244);
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-bottom: 10px;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .arrow {
    font-size: 120px;
    position: absolute;
    top: 70px;
    right: 0;
    color: rgb(253, 252, 252);
    opacity: 0.5;
    cursor: pointer;
  }
  
  .container.active {
    background-color: white;
  }
  
  .movie-list-title.active {
    color: black;
  }
  
  .navbar-container.active {
    background-color: white;
  
    color: black;
  }
  
  .sidebar.active{
      background-color: white;
  }
  
  .left-menu-icon.active{
      color: black;
  }
  
  .toggle.active{
      background-color: black;
  }
  
  .toggle-ball.active{
      background-color: white;
      transform: translateX(-20px);
  }
  
  @media only screen and (max-width: 940px){
      .menu-container{
          display: none;
      }
  
      .music-control {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #music-toggle {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
    
    #music-toggle:hover {
        color: #ffb400;
    }
  
    body {
      background-color: black;
      color: white;
  }
  
  }